br
br
.alert.alert-info.center
	p 
		| Do you want to make permanent rooms so that you always have the
		| same address?
		br
		a(href='/rooms/view')
			if !isAuthenticated
				img.center(src='http://datos.gob.es/datos/sites/all/modules/twitter/twitter_signin/images/Sign-in-with-Twitter-darker.png')
			else
				button.btn.btn-large.btn-primary Go Go Go!
