style
	#player {
		z-index: -40;
		position: absolute;
		top: 11%;
		left: 180%;
	}
	

link(rel='stylesheet', href='/stylesheets/room.css')

!= partial("partials/sup_bar")


if not_permanent_room == false
		h1.name
			i #{room.name}
	else
		h1.name Your temporary room

.head_box	
	.row-fluid
		.span6			
			.song_info	
				h2#txt_song_name
				p#txt_artist
				p#txt_album
				
			.controls
				button.btn.btn-large#btnPlayAndPause Play/Pause
				| 
				button.btn.btn-large#btnNext Next

		.span6
			.qr.right
				img#qr(src='http://www.bspace.be/images/wait_gd.gif')
				p	
					i Scan this QR to choose the music you want or go to 
					span.red.block 
						a#room_link(target="_blank")
	
	
	if not_permanent_room
		!= partial('./login_suggestion.jade')						

#lista
	h1 Songs
	table.table.table-striped
		thead
			tr
				th Name
				th Artist
				th Album
				th Votes	
		tbody#song-list
		

#player
