.container
	.navbar.navbar-fixed-top
		.navbar-inner(style='overflow: hidden')
			a.brand(href="/") SayJay
			ul.nav
				li
					a(href="/") Home
				li
					a(href="/room") Temporary Room
				li
					if isAuthenticated 
						a(href="/rooms/view") View My Rooms
					else
						a(href="/users/login") Sign in with Twitter

					
					
			if isAuthenticated
				ul.nav.pull-right
					li
						a(href="/users/logout") Logout
					li
						img(src="/api/avatar")
						
						
br
