!= partial('../partials/room_general')


.hidden#room_id(room-id=room.id)

script(src='/javascripts/jquery.templating.js')
script(src='/javascripts/room/player.js')
script(src='/javascripts/socket.io.min.js')
script(src='/javascripts/room/jukebox.js')
script(src='/javascripts/private_rooms/ui.js')
script(src='/javascripts/room/songs.js')
script(src='/javascripts/private_rooms/sockets.js')
script(src='/javascripts/private_rooms/index.js')
