style 
	.hidden { display: none; }
link(rel='stylesheet', href='/stylesheets/index.css')

!= partial("partials/sup_bar")

.header_grandecito(style='text-align: left')
	h1 Your rooms
	
br
br	
a#create_room.btn.btn-success.btn-large(href="#") Create room
.place_of_the_table
	table.table.table-striped
		thead
			tr
				th Name
				th Created at	
		tbody#room-list
	
	
	

.hidden
	form#form(action='/rooms/create', method="POST")
		input#room_name_input(type='hidden', name='room_name')
			
			
script(src='/javascripts/jquery.templating.js')
script(src='/javascripts/private_rooms/view/rooms.js')
script(src='/javascripts/private_rooms/view/ui.js')
script(src='/javascripts/private_rooms/view/index.js')
			
