link(rel='stylesheet', href='/stylesheets/index.css')

script
	$(document).ready(function(){
		$("#explanation_btn").click(function(){
			$("#explanation").removeClass("hidden");
		});
		
		$("#close_explanation_btn").click(function(){
			$("#explanation").addClass("hidden");
		});
	});

!= partial("partials/sup_bar")


.header_maximo
		h1 SayJay
		p Crowdsourced playlists for your businesses | 
			a#explanation_btn(data-href='/images/story.png', title='Quick Explanation', href="#") What!?

		a.btn.btn-primary.btn-large(href='/room') Create your temporary room! 
		| 
		a.btn.btn-primary.btn-large(href='/users/login') Or a permanent one

		//!= partial("partials/login_suggestion")

br 
br
.container-fluid		
	.row-fluid
		.span4
			h2 Crowdsourcing
			p.marketing In order to choose the best music, ask the crowd! Your customers know what 
				| they want and using SayJay, they'll just get it!
		.span4
			h2 Cool Music
			p.marketing We have a great collection of music and you can ask for more whenever you want.
				| Your customers are not going to miss any of their favorite songs!
		.span4
			h2 Their Experience
			p.marketing With this innovative service, your customers can customize their experience completely.
				| This grade of customization has never been seen before! 
	
	
#explanation.hidden	
	img#explanation_img(src='/images/story.png')
	.black_film
		a#close_explanation_btn(href="#") Close
.right.footer	
	!= partial('partials/social_sharing.jade')
