body {
	overflow-x: hidden;
}

.header_maximo, .header_grandecito {
	text-align: center;
	background-image: linear-gradient(left bottom, rgb(235,26,26) 48%, rgb(184,95,53) 100%);
	background-image: -o-linear-gradient(left bottom, rgb(235,26,26) 48%, rgb(184,95,53) 100%);
	background-image: -moz-linear-gradient(left bottom, rgb(235,26,26) 48%, rgb(184,95,53) 100%);
	background-image: -webkit-linear-gradient(left bottom, rgb(235,26,26) 48%, rgb(184,95,53) 100%);
	background-image: -ms-linear-gradient(left bottom, rgb(235,26,26) 48%, rgb(184,95,53) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		4 32,
		color-stop(0.48, rgb(235,26,26)),
		color-stop(1, rgb(184,95,53))
	);
	
	
	color: white;
	overflow: clip;
	padding: 5%;
	position: relative;
}

.header_maximo {
	left: -5%;
	width: 100%;
}

.header_grandecito {
	border-radius: 5px;
}

.header_maximo h1 {
	font-size: 1100%;
}

.header_maximo p {
	margin-top: 6%;
	font-size: 250%;
}

.footer {
	position: fixed;
	bottom: 1%;
	width: 100%;
}

.marketing {
	font-size: 16px;
	line-height: 1.5;
}

#explanation {
	padding-top: 4%;
	padding-bottom: 4%;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 0%;
	height: 100%;
	width: 100%;
	text-align: center;
	z-index: 100;
}

.black_film {
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	text-align: center;
	z-index: -1;
}

.black_film h3 {
	position: absolute;
	top: 15%;
	left: 10%;
	font-size: 300%;
	z-index: 1;
}

#explanation_img {
	z-index: 1;
}


#close_explanation_btn {
	position: absolute;
	left: 80%;
	top: 20%;
	font-size: 300%;
}
