body {
	overflow-x: hidden;
}
.head_box {
	padding: 3%;
	
	background-image: linear-gradient(bottom, rgb(101,137,252) 2%, rgb(132,165,255) 51%, rgb(159,198,255) 76%);
	background-image: -o-linear-gradient(bottom, rgb(101,137,252) 2%, rgb(132,165,255) 51%, rgb(159,198,255) 76%);
	background-image: -moz-linear-gradient(bottom, rgb(101,137,252) 2%, rgb(132,165,255) 51%, rgb(159,198,255) 76%);
	background-image: -webkit-linear-gradient(bottom, rgb(101,137,252) 2%, rgb(132,165,255) 51%, rgb(159,198,255) 76%);
	background-image: -ms-linear-gradient(bottom, rgb(101,137,252) 2%, rgb(132,165,255) 51%, rgb(159,198,255) 76%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.02, rgb(101,137,252)),
		color-stop(0.51, rgb(132,165,255)),
		color-stop(0.76, rgb(159,198,255))
	);
	
	border-radius: 5px;
	
}


h1.name{
	font-size: 430%;
}

#txt_song_name {
	font-size: 410%;
}

#txt_artist {
	font-weight: bold;
	font-size: 200%;	
}

#txt_album {
	font-style: italic;
	font-size: 200%;
}

.controls {
	margin-top: 16%;
}

