body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#room_link, .red {
	color: red;
}

.block {
	display: block;
}
.center { 
	text-align: center;
}

.right {
	float: right;
}


