!= partial('../partials/room_general.jade')


script(src='/javascripts/jquery.templating.js')	
script(src='/javascripts/room/player.js')
script(src='/javascripts/socket.io.min.js')
script(src='/javascripts/room/jukebox.js')
script(src='/javascripts/room/ui.js')
script(src='/javascripts/room/sockets.js')
script(src='/javascripts/room/songs.js')
script(src='/javascripts/room/index.js')
